mixin business-numbers()
	.business-numbers
		.business-numbers__wrapper
			.business-numbers__title Insight Equity в цифрах

			.business-numbers-item.business-numbers-item--first
				.business-numbers-item__num 5
				.business-numbers-item__desc
					.business-numbers-item__up лет
					.business-numbers-item__down опыта в покупке бизнесов

			.business-numbers-item.business-numbers-item--second
				.business-numbers-item__num 1,2
				.business-numbers-item__desc
					.business-numbers-item__up млрд р
					.business-numbers-item__down максимальная сделка

			.business-numbers-item.business-numbers-item--third
				.business-numbers-item__num 1
				.business-numbers-item__desc
					.business-numbers-item__up только мы
					.business-numbers-item__down зарабатываем от прибыли продаваемого бизнеса

			.business-numbers-last-year
				.business-numbers-last-year__title За прошедший год мы
				.business-numbers-last-year-item.business-numbers-last-year-item--first
					.business-numbers-last-year-item__text Помогли 
						strong 25 клиентам 
						| приобрести прибыльный бизнес на общую сумму
					.business-numbers-last-year-item-cost 
						.business-numbers-last-year-item-cost__left <800
						.business-numbers-last-year-item-cost__right
							.business-numbers-last-year-item-cost__up млн
							.business-numbers-last-year-item-cost__down р

				.business-numbers-last-year-item.business-numbers-last-year-item--second
					.business-numbers-last-year-item__text Уберегли клиентов от потерь на сумму 
					.business-numbers-last-year-item-cost 
						.business-numbers-last-year-item-cost__left <100
						.business-numbers-last-year-item-cost__right
							.business-numbers-last-year-item-cost__up млн
							.business-numbers-last-year-item-cost__down р