doctype html
|<!--[if IE 7]><html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="ru"><![endif]-->
|<!--[if IE 8]><html class="ie8 lt-ie10 lt-ie9 no-js" lang="ru"><![endif]-->
|<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="ru"><![endif]-->
|<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="ru"><!--<![endif]-->

include ../modules/include/include

head
	+head(head.defaults)
body
	+header()
	+catalog-business-title()
	+business-description()
	+what-sell()
	+business-base()
	+request('мы расскажем, как избежать ошибок при покупке бизнеса', 'бесплатная консультация')
	+work-scheme()
	+get-buyer()
	+request-business()
	+business-numbers()
	+business-completed()
	+request('мы расскажем, как избежать ошибок при покупке бизнеса', 'бесплатная консультация')
	+map()
	+contacts()
	+footer()