mixin advantages()
	section.advantages
		.advantages__wrapper
			.advantages__title Консультационный и инвестиционный бизнесы — в основе успеха. 
				br
				| Эта синергия рождает преимущество

			.advantages-list#advantages-list
				.advantages-list-item__to-slide
					.advantages-item.advantages-item--ideas
						.advantages-item__title Инвестиционные идеи
						.advantages-item__text Мы тщательно отбираем проекты и предлагаем только те, в которые готовы вложить сами

				.advantages-list-item__to-slide
					.advantages-item.advantages-item--investment
						.advantages-item__title Подход к инвестированию
						.advantages-item__text Мы всегда на стороне клиента. Вознаграждение формируется из прибыли не только при размещении средств на фондовых рынках, но и при продаже бизнеса.
				
				.advantages-list-item__to-slide
					.advantages-item.advantages-item--results
						.advantages-item__title Наши результаты
						.advantages-item__text Высокие показатели доходности по нашим портфелями и проектам
				