.advantages {
	padding-top: 62px + 38px;
	padding-bottom: 70px;
	@media screen and (max-width: 960px) {
		padding-top: 66px;
		padding-bottom: 0;
	}
	&__wrapper {
		display: flex;

		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__title {
		margin-bottom: 64px;

		@extend .title;
		@media screen and (max-width: 960px) {
			padding: 30px;

			background: #f0f0f0;

			font-size: em(17px);
			line-height: em(22px, 17px);
		}
	}
}

.advantages-list {
	@extend .wrapper;
	.slick-track {
		display: flex;

		margin: auto;

		justify-content: space-between;
		@media screen and (max-width: 480px) {
			display: block;
		}
	}
	&__to-slide {
		float: none !important;

		width: 258px !important;
	}
	.slick-nav {
		position: absolute;
		top: 98px;
		&--prev {
			left: 20px;

			@include bg($slider-left-mobile);
		}
		&--next {
			right: 20px;

			@include bg($slider-right-mobile);
		}
	}
}

.advantages-item {
	width: 258px;
	margin: auto;

	color: #000;
	&:before {
		position: relative;

		display: block;

		margin: auto;
		margin-bottom: 28px;

		content: "";
	}
	&--ideas {
		&:before {
			@include bg($advantages-ideas);
		}
	}
	&--investment {
		&:before {
			@include bg($advantages-investment);
		}
	}
	&--results {
		&:before {
			@include bg($advantages-results);
		}
	}
	&__title {
		margin-bottom: 15px;

		text-align: center;
		text-transform: uppercase;

		font-size: em(20px);
	}
	&__text {
		font-size: em(14px);
	}
}
