// Mixins.

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}

@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

@mixin content {
    position: absolute;

    display: block;

    content: "";
}

@mixin transition {
    transition: all .4s ease-in-out;
}

// You can add your own mixins here:
