mixin we-help()
	.we-help
		.we-help__wrapper
			.we-help__title Мы поможем Вам

			.we-help-item.we-help-item--1 
				.we-help-item__title Сделать правильный выбор

			.we-help-item.we-help-item--2 
				.we-help-item__title Получить лучшие условия от франчайзера

			.we-help-item.we-help-item--3 
				.we-help-item__title Избежать ошибок

			.we-help-item.we-help-item--4 
				.we-help-item__title Сократить время на запуск проекта

			.we-help-item.we-help-item--5 
				.we-help-item__title Существенно уменьшить риски и финансовые затраты