mixin business-completed()
	.business-completed
		.business-completed__wrapper
			.business-completed__title реализованные проекты

			.business-completed-slide#business-completed-slide
				- for(var i = 0; i < 5; i++) {
				.business-completed-slide__item
					.business-completed-item
						img(src="%=staticPrefix=%images/content/business-completed-item-img.jpg" alt="").business-completed-item__img
						.business-completed-item__content
							.business-completed-item__title Название
							p.business-completed-item__text Генераторы, создающие собственные варианты текста сыграет. Проблемы: в книгопечатании еще в длине наиболее распространенных слов из его применили. Частотой, имеется разница в книгопечатании еще в длине наиболее. Генераторы, создающие.
							.business-completed-item__cost Прибыль 700 000 Р
				- }