mixin security-technology()
	.security-technology
		.security-technology__wrapper
			.security-technology__title Технология защищенности Ваших интересов

			.security-technology-tabs
				.security-technology-tabs-control
					.security-technology-tabs-control__item.active гарантия доведения до прибыли
					.security-technology-tabs-control__item Тонкости и нюансы
					.security-technology-tabs-control__item Правовая защищенность
				.security-technology-tabs-content
					.security-technology-tabs-content__item.security-technology-tabs-content__item--1.active Согласовываем условия, где владелец франшизы доведет клиента до первой прибыли, в ином случае вернет деньги
					.security-technology-tabs-content__item.security-technology-tabs-content__item--2 Согласовываем условия, где владелец франшизы доведет клиента до первой прибыли, в ином случае вернет деньги
					.security-technology-tabs-content__item.security-technology-tabs-content__item--3 Согласовываем условия, где владелец франшизы доведет клиента до первой прибыли, в ином случае вернет деньги