mixin articles()
	section.articles
		.articles__wrapper
			.articles__title Статьи
			.articles-slide#articles-slide
				- for(var i = 0; i < 5; i++) {
				.articles-slide__item
					.articles-item
						.articles-item__content
							.articles-item__title Издание «новости»
							p.articles-item__text Генераторы, создающие собственные варианты текста сыграет. Проблемы: в книгопечатании еще в длине наиболее распространенных слов из его применили. Частотой, имеется разница в книгопечатании еще в длине наиболее. Генераторы, создающие.
							a(href="#" title="").articles-item__more подробнее
				- }