mixin top-menu()
	nav.top-menu
		.top-menu__mobile
		.top-menu__fixed
			ul.top-menu__list
				li.top-menu__item.top-menu__item--dropdown
					a(href="#" title="") инвестиции
					ul.top-menu__list-inside
						li.top-menu__item-inside
							a(href="#" title="") Финансовый рынок
						li.top-menu__item-inside
							a(href="#" title="") Бизнес
						li.top-menu__item-inside
							a(href="#" title="") Недвижимость
						li.top-menu__item-inside
							a(href="#" title="") Готовый бизнес
						li.top-menu__item-inside
							a(href="#" title="") Франчайзинг
						li.top-menu__item-inside
							a(href="#" title="") Бизнес под ключ
				li.top-menu__item.top-menu__item--dropdown
					a(href="#" title="") консалтинг
					ul.top-menu__list-inside
						li.top-menu__item-inside
							a(href="#" title="") Финансовый рынок
						li.top-menu__item-inside
							a(href="#" title="") Бизнес
						li.top-menu__item-inside
							a(href="#" title="") Недвижимость
						li.top-menu__item-inside
							a(href="#" title="") Готовый бизнес
						li.top-menu__item-inside
							a(href="#" title="") Франчайзинг
						li.top-menu__item-inside
							a(href="#" title="") Бизнес под ключ
				li.top-menu__item
					a(href="#" title="") блог
				li.top-menu__item
					a(href="#" title="") о компании
				li.top-menu__item
					a(href="#" title="") контакты