mixin consult()
	section.consult
		.consult__wrapper
			.consult__title консалтинговые услуги

			.consult-item.consult-item--due-diligence
				.consult-item__title Due diligence
				.consult-item__text Генераторы, создающие собственные варианты текста сыграет. Проблемы: в книгопечатании еще в длине наиболее распространенных слов из его применили. Частотой, имеется разница в книгопечатании еще в длине наиболее. 

			.consult-item.consult-item--strategic-development
				.consult-item__title Стратегическое развитие, бизнес-планирование
				.consult-item__text Такого текста на интернет-страницы и на основе. Нести совсем необязательно собственные варианты текста. Лучше использовать при оценке качества восприятия макета чему. Lorem ipsum на латыни и на латыни и проектах, ориентированных на. 

			.consult-item.consult-item--marketing
				.consult-item__title Маркетинг
				.consult-item__text Такого текста на интернет-страницы и на основе. Нести совсем необязательно собственные варианты текста. Лучше использовать при оценке качества восприятия макета чему. Lorem ipsum на латыни и на латыни и проектах, ориентированных на. 

			.consult-item.consult-item--sales
				.consult-item__title Продажи
				.consult-item__text Генераторы, создающие собственные варианты текста сыграет. Проблемы: в книгопечатании еще в длине наиболее распространенных слов из его применили. Частотой, имеется разница в книгопечатании еще в длине наиболее. 

			.consult-item.consult-item--control-system
				.consult-item__title Система управления и операционная эффективность
				.consult-item__text Такого текста на интернет-страницы и на основе. Нести совсем необязательно собственные варианты текста. Лучше использовать при оценке качества восприятия макета чему. Lorem ipsum на латыни и на латыни и проектах, ориентированных на. 

			.consult-item.consult-item--support-transactions
				.consult-item__title Сопровождение сделок
				.consult-item__text Такого текста на интернет-страницы и на основе. Нести совсем необязательно собственные варианты текста. Лучше использовать при оценке качества восприятия макета чему. Lorem ipsum на латыни и на латыни и проектах, ориентированных на. 