mixin receive()
	.receive
		.receive__wrapper
			.receive__title Обращаясь за приобретением бизнеса в Insight Equity Вы получите 

			.receive-item.receive-item--1
				.receive-item__title Защищенность своих интересов 
				.receive-item__text Услуги брокера оплачиваются из прибыли, а не в цене продаваемого бизнеса

			.receive-item.receive-item--2
				.receive-item__title Доступ только к лучшим предложениям рынка 
				.receive-item__text Только проверенные объекты с подтверждённой прибылью

			.receive-item.receive-item--3
				.receive-item__title Западные стандарты работы 
				.receive-item__text insight equity является действующим членом IBBA

			.receive-item.receive-item--4
				.receive-item__title Минимальные инвестиционные риски 
				.receive-item__text Глубокая аналитика не только бизнеса, но и отрасли

			.receive-item.receive-item--5
				.receive-item__title Гарантию безопасности сделки 

			.receive-item.receive-item--6
				.receive-item__title Помощь в работе 
				.receive-item__text Сопровождение после покупки

			.receive-item.receive-item--7
				.receive-item__title Релевантный опыт экспертов 
				.receive-item__text Мы не только продаём, но и развиваем бизнесы