mixin business-profit()
	.business-profit
		.business-profit__wrapper
			.business-profit__left
				.business-profit__cost 500 000
				.business-profit__text Ваша прибыль до конца года, если вы купите этот бизнес сейчас
			.business-profit__right
				.business-profit__text Хотите узнать подробнее о данном бизнесе? оставьте заявку
				a(href="#" title="").business-profit__btn заявка