mixin services()
	section.services
		.services-item.services-item--securities
			.services-item-noactive
				.services-item-noactive__title Ценные бумаги, фонды
				.services-item-noactive__text Выгодные вложения в фондовые рынки США, Европы и Азии
			.services-item-active
				.services-item-active__item.services-item-active__item--potential Потенциал дохода — 10-30% годовых
				.services-item-active__item.services-item-active__item--horizon Целесообразный горизонт инвестирования — от 3-х лет
				.services-item-active__item.services-item-active__item--threshold Порог входа — от 10 млн. руб.
				a(href="#" title="").services-item-active__btn подробнее
		.services-item.services-item--real-estate
			.services-item-noactive
				.services-item-noactive__title Недвижимость
				.services-item-noactive__text Надежность в сочетании с высоким пассивным доходом
			.services-item-active
				.services-item-active__item.services-item-active__item--potential Потенциал дохода — 10-30% годовых
				.services-item-active__item.services-item-active__item--horizon Целесообразный горизонт инвестирования — от 3-х лет
				.services-item-active__item.services-item-active__item--threshold Порог входа — от 10 млн. руб.
				a(href="#" title="").services-item-active__btn подробнее
		.services-item.services-item--business
			.services-item-noactive
				.services-item-noactive__title Готовый бизнес 
				.services-item-noactive__text Высокодоходные инвестиции в тщательно отобранные объекты
			.services-item-active
				.services-item-active__item.services-item-active__item--potential Потенциал дохода — 10-30% годовых
				.services-item-active__item.services-item-active__item--horizon Целесообразный горизонт инвестирования — от 3-х лет
				.services-item-active__item.services-item-active__item--threshold Порог входа — от 10 млн. руб.
				a(href="#" title="").services-item-active__btn подробнее
		.services-item.services-item--franchising
			.services-item-noactive
				.services-item-noactive__title Франчайзинг
				.services-item-noactive__text Высокодоходные инвестиции в тщательно отобранные объекты
			.services-item-active
				.services-item-active__item.services-item-active__item--potential Потенциал дохода — 10-30% годовых
				.services-item-active__item.services-item-active__item--horizon Целесообразный горизонт инвестирования — от 3-х лет
				.services-item-active__item.services-item-active__item--threshold Порог входа — от 10 млн. руб.
				a(href="#" title="").services-item-active__btn подробнее
			

