mixin footer(data)
	footer.footer
		.footer__wrapper
			.footer__left
				.footer-nav
					a(href="#" title="").footer-nav__item главная
					a(href="#" title="").footer-nav__item инвестиции
					a(href="#" title="").footer-nav__item консалтинг
					a(href="#" title="").footer-nav__item блог
					a(href="#" title="").footer-nav__item о компании
					a(href="#" title="").footer-nav__item контакты

				.footer-ready 
					.footer-ready__title Готовый бизнес в городе:
					a(href="#" title="").footer-ready__item Архангельск
					a(href="#" title="").footer-ready__item Барнаул
					a(href="#" title="").footer-ready__item Белгород
					a(href="#" title="").footer-ready__item Великий Новгород
					a(href="#" title="").footer-ready__item Владивосток

					a(href="#" title="").footer-ready__item Архангельск
					a(href="#" title="").footer-ready__item Барнаул
					a(href="#" title="").footer-ready__item Белгород
					a(href="#" title="").footer-ready__item Великий Новгород
					a(href="#" title="").footer-ready__item Владивосток

				
			.footer__right
				.footer-copyright © Insight equity 2015
				.footer-contacts
					.footer-contacts__item Россия, Москва, 220000 улица Красная, дом 29, офис 3	
					.footer-contacts__item
						span +7 (495) 000–00–00
						span mailto@Insight equity.ru
				.footer-social
					a(href="#" title="").footer-social__item.footer-social__item--fb
					a(href="#" title="").footer-social__item.footer-social__item--instagram
					a(href="#" title="").footer-social__item.footer-social__item--vk
					a(href="#" title="").footer-social__item.footer-social__item--twitter
				.footer-created Сделано в 
					a(href="#" title="" target="_blank") Soulmates
	.mask
	//- Main scripts. You can replace it, but I recommend you to leave it here
	script(src='https://yastatic.net/jquery/1.11.2/jquery.min.js')
	script(src='https://cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js')
	script(src='%=staticPrefix=%js/main%=hash=%%=min=%.js')