mixin business-why()
	.business-why
		.business-why__wrapper
			.business-why__title Почему мы

			.business-why-item
				.business-why-item__title Мы являемся членами международной ассоциация бизнес-брокеров,
				.business-why-item__text превнося кардинально иной подход продажи бизнеса на российский рынок, основанный на западных стандартах
			.business-why-item
				.business-why-item__title Мы на стороне покупателя!
				.business-why-item__text Вы оплачиваете услуги брокера не в стоимости бизнеса, а только из прибыли
			.business-why-item
				.business-why-item__title Мы будем сопровождать Вас на протяжении 2-3 месяцев,
				.business-why-item__text помогая Вам войти в бизнес и погрузиться во все процессы
			.business-why-item
				.business-why-item__title Мы заинтересованы в Вашей прибыли, а не в самом факте продажи бизнеса,
				.business-why-item__text что является лучшей гарантией безопасности