mixin what-sell()
	.what-sell
		.what-sell__wrapper
			.what-sell__title КАКИЕ БИЗНЕСЫ МЫ ПРОДАЁМ

			.what-sell__left
				.what-sell__item Мы разработали собственные требования к объектам
				.what-sell__item Наша стратегия базируется на тщательном отборе инвестиционных проектов
				.what-sell__item Основной критерий отбора — 
					span максимальная
					| отдача от инвестиций

			.what-sell__right
				.what-sell__item.what-sell__item--bigstar В нашей базе крайне ограниченное количество объектов, мы показываем
					span лучшее,
					| что есть на рынке