mixin work-scheme()
	.work-scheme
		.work-scheme__wrapper
			.work-scheme__title Схема работы

			.work-scheme-item
				.work-scheme-item__line.work-scheme-item__line--1
				.work-scheme-item__row
					.work-scheme-item__column.work-scheme-item__column--title
						.work-scheme-item__title Бизнес-брокеры РФ
					.work-scheme-item__column.work-scheme-item__column--title
						img(src="%=staticPrefix=%images/content/work-scheme-logo.png" alt="")
				
				.work-scheme-item__row.work-scheme-item__row--blue Выбор объектов

				.work-scheme-item__row
					.work-scheme-item__column.work-scheme-item__column--img-1
						img(src="%=staticPrefix=%images/content/work-scheme-1.png" alt="")

					.work-scheme-item__column.work-scheme-item__column--img-2
						img(src="%=staticPrefix=%images/content/work-scheme-2.png" alt="")

					.work-scheme-item__row.work-scheme-item__row--gray 
						.work-scheme-item__column
							.work-scheme-item__text.work-scheme-item__text--left Добавление в базу 
								strong Всех объектов, 
								| имеющихся в продаже на рынке

						.work-scheme-item__column
							.work-scheme-item__text.work-scheme-item__text--right
								strong Строгий и тщательный отбор
								br
								| предложений, имеющихся на рынке

					.work-scheme-item__column.work-scheme-item__column--img-3
						img(src="%=staticPrefix=%images/content/work-scheme-3.png" alt="")

					.work-scheme-item__column.work-scheme-item__column--img-4
						img(src="%=staticPrefix=%images/content/work-scheme-4.png" alt="")

					.work-scheme-item__row.work-scheme-item__row--gray 
						.work-scheme-item__column
							.work-scheme-item__text.work-scheme-item__text--left 
								strong Поверхностный анализ 
								| бизнесов

						.work-scheme-item__column
							.work-scheme-item__text.work-scheme-item__text--right
								strong Глубокий анализ 
								| для выявления реальной прибыли и скрытых рисков


			.work-scheme-item
				.work-scheme-item__line.work-scheme-item__line--2
				
				.work-scheme-item__row.work-scheme-item__row--blue Формирование стоимости бизнеса

				.work-scheme-item__row
					.work-scheme-item__column.work-scheme-item__column--img-5
						img(src="%=staticPrefix=%images/content/work-scheme-5.png" alt="")

					.work-scheme-item__column.work-scheme-item__column--img-6
						img(src="%=staticPrefix=%images/content/work-scheme-6.png" alt="")

					.work-scheme-item__row.work-scheme-item__row--gray 
						.work-scheme-item__column
							.work-scheme-item__text.work-scheme-item__text--left
								strong Завышенная 
								| стоимость бизнеса 
								br
								| + вознаграждение брокера

						.work-scheme-item__column
							.work-scheme-item__text.work-scheme-item__text--right
								strong Рыночная 
								| стоимость бизнеса

			.work-scheme-item
				.work-scheme-item__line.work-scheme-item__line--3
				
				.work-scheme-item__row.work-scheme-item__row--blue Вознаграждение

				.work-scheme-item__row.work-scheme-item__row--dots
					img(src="%=staticPrefix=%images/content/work-scheme-dots.png" alt="")

				.work-scheme-item__row
					.work-scheme-item__column.work-scheme-item__column--img-7
						img(src="%=staticPrefix=%images/content/work-scheme-7.png" alt="")

					.work-scheme-item__column.work-scheme-item__column--img-8
						img(src="%=staticPrefix=%images/content/work-scheme-8.png" alt="")

					.work-scheme-item__row.work-scheme-item__row--gray 
						.work-scheme-item__column
							.work-scheme-item__text.work-scheme-item__text--left Вознаграждение формируется
								br
								strong + к стоимости продажи бизнеса

						.work-scheme-item__column
							.work-scheme-item__text.work-scheme-item__text--right Вознаграждение формируется
								br
								strong из прибыли 
								| от первых 2-3 месяцев работы

			.work-scheme-item
				.work-scheme-item__line.work-scheme-item__line--4
				
				.work-scheme-item__row.work-scheme-item__row--blue Мотивация

				.work-scheme-item__row
					.work-scheme-item__column.work-scheme-item__column--img-9
						img(src="%=staticPrefix=%images/content/work-scheme-9.png" alt="")

					.work-scheme-item__column.work-scheme-item__column--img-10
						img(src="%=staticPrefix=%images/content/work-scheme-10.png" alt="")

					.work-scheme-item__row.work-scheme-item__row--gray 
						.work-scheme-item__column
							.work-scheme-item__text.work-scheme-item__text--left Защита интересов продавцов.
								br
								| Цель:
								strong продать любой бизнес по максимальной стоимости

						.work-scheme-item__column
							.work-scheme-item__text.work-scheme-item__text--right Защита интересов покупателей. 
								br
								| Цель: 
								strong найти покупателю прибыльный и успешный бизнес

			.work-scheme-item
				.work-scheme-item__line.work-scheme-item__line--5
				
				.work-scheme-item__row.work-scheme-item__row--blue Сопровождение и поддержка после оформления сделки

				.work-scheme-item__row
					.work-scheme-item__column.work-scheme-item__column--img-11
						img(src="%=staticPrefix=%images/content/work-scheme-11.png" alt="")

					.work-scheme-item__column.work-scheme-item__column--img-12
						img(src="%=staticPrefix=%images/content/work-scheme-12.png" alt="")

					.work-scheme-item__row.work-scheme-item__row--gray 
						.work-scheme-item__column
							.work-scheme-item__text.work-scheme-item__text--left.work-scheme-item__text--align-right
								strong Отсутствует

						.work-scheme-item__column
							.work-scheme-item__text.work-scheme-item__text--right 
								strong Активное участие и помощь 
								br
								| в работе несколько месяцев