mixin business-indicators()
	.business-indicators
		.business-indicators__wrapper
			.business-indicators__title Информация и показатели

			.business-indicators-all
				.business-indicators-all-item
					.business-indicators-all__title доля к продаже
					.business-indicators-all__content 100%
				.business-indicators-all-item
					.business-indicators-all__title ежемесячная прибыль
					.business-indicators-all__content 
						a(href="#" title="") 100 000 Р
				.business-indicators-all-item
					.business-indicators-all__title стоимость
					.business-indicators-all__content 
						a(href="#" title="") 200 000 000 Р
				.business-indicators-all-item
					.business-indicators-all__title срок окупаемости
					.business-indicators-all__content 
						a(href="#" title="") 1 год


			table.business-indicators-info
				thead
					tr.business-indicators-info__row.business-indicators-info__row--header
						th(colspan="2").business-indicators-info__header.business-indicators-info__header--1 Общая информация
				tbody
					tr.business-indicators-info__row
						td.business-indicators-info__column Тип бизнеса
						td.business-indicators-info__column Услуги
					tr.business-indicators-info__row
						td.business-indicators-info__column Направление деятельности
						td.business-indicators-info__column 
							a(href="#" title="") Общественное питание, рестораны
					tr.business-indicators-info__row 
						td.business-indicators-info__column Срок существования
						td.business-indicators-info__column 2 года
					tr.business-indicators-info__row
						td.business-indicators-info__column Количество сотрудников
						td.business-indicators-info__column 30
					tr.business-indicators-info__row
						td.business-indicators-info__column Организационно-правовая форма
						td.business-indicators-info__column ООО

			table.business-indicators-info
				thead
					tr.business-indicators-info__row.business-indicators-info__row--header
						th(colspan="2").business-indicators-info__header.business-indicators-info__header--2 Инвестиционные показатели
				tbody
					tr.business-indicators-info__row
						td.business-indicators-info__column Стоимость
						td.business-indicators-info__column 
							a(href="#" title="") 200 000 000 Р
					tr.business-indicators-info__row
						td.business-indicators-info__column Срок окупаемости
						td.business-indicators-info__column 
							a(href="#" title="") 1 год
					tr.business-indicators-info__row 
						td.business-indicators-info__column Чистая текущая стоимость проекта (NPV)
						td.business-indicators-info__column 
							a(href="#" title="") 200 000 000 Р
					tr.business-indicators-info__row
						td.business-indicators-info__column Внутренняя норма рентабельности (IRR)
						td.business-indicators-info__column 95 %
					tr.business-indicators-info__row
						td.business-indicators-info__column Индекс прибыльности инвестиций (PI)
						td.business-indicators-info__column 123

			table.business-indicators-info
				thead
					tr.business-indicators-info__row.business-indicators-info__row--header
						th(colspan="2").business-indicators-info__header.business-indicators-info__header--3 Среднемесячные показатели
				tbody
					tr.business-indicators-info__row
						td.business-indicators-info__column Доход
						td.business-indicators-info__column 200 000 Р
					tr.business-indicators-info__row
						td.business-indicators-info__column Расход
						td.business-indicators-info__column 100 000 Р
					tr.business-indicators-info__row 
						td.business-indicators-info__column Прибыль
						td.business-indicators-info__column 
							a(href="#" title="") 100 000 Р
					tr.business-indicators-info__row
						td.business-indicators-info__column Рентабельность
						td.business-indicators-info__column 95 %

			table.business-indicators-info
				thead
					tr.business-indicators-info__row.business-indicators-info__row--header
						th(colspan="2").business-indicators-info__header.business-indicators-info__header--4 Основные фонды
				tbody
					tr.business-indicators-info__row
						td.business-indicators-info__column Недвижимость
						td.business-indicators-info__column текст для примера
					tr.business-indicators-info__row
						td.business-indicators-info__column Средства производства
						td.business-indicators-info__column текст для примера
					tr.business-indicators-info__row 
						td.business-indicators-info__column Нематериальные активы
						td.business-indicators-info__column текст для примера