mixin credit()
	.credit
		.credit__wrapper
			.credit__title Кредит на франшизу

			.credit__item В сотрудничестве с банками разработана программа 
				strong предоставления займа 
				| на льготных условиях для начала франчайзинговой деятельности

			.credit-request
				.credit-request__title Недостаточно средств? 
				a(href="#" title="").credit-request__btn Купить франшизу в кредит 