include ../head/head
include ../header/header
include ../top-menu/top-menu
include ../main-title/main-title
include ../services/services
include ../consult/consult
include ../why/why
include ../advantages/advantages
include ../clients/clients
include ../request/request
include ../articles/articles
include ../map/map
include ../contacts/contacts
include ../footer/footer

include ../inside-header/inside-header
include ../breadcrumbs/breadcrumbs
include ../business-description/business-description
include ../business-object/business-object
include ../business-indicators/business-indicators
include ../business-profit/business-profit
include ../business-why/business-why
include ../similar-offers/similar-offers
include ../receive/receive

include ../catalog-business-title/catalog-business-title
include ../what-sell/what-sell
include ../business-base/business-base
include ../work-scheme/work-scheme
include ../get-buyer/get-buyer
include ../request-business/request-business
include ../business-numbers/business-numbers
include ../business-completed/business-completed

include ../we-help/we-help
include ../security-technology/security-technology
include ../credit/credit