mixin business-base()
	.business-base
		.business-base__wrapper
			.business-base__title Прежде чем объект попадает в базу 

			.business-base-item.business-base-item--1 полный и детальный анализ компании
			.business-base-item.business-base-item--2 оценка стоимости
			.business-base-item.business-base-item--3 оценка перспектив и рисков
			.business-base-item.business-base-item--4 проверка на соответствие  требованиям insight equity