mixin breadcrumbs()
	.breadcrumbs
		a(href="#" title="").breadcrumbs__item Каталог
		a(href="#" title="").breadcrumbs__item Общественное питание и рестораны
		a(href="#" title="").breadcrumbs__item Рестораны
		span.breadcrumbs__current Модный супер-отель бизнес-класса в самом центре Москвы