mixin get-buyer()
	.get-buyer
		.get-buyer__wrapper
			.get-buyer__title Что получит покупатель?

			.get-buyer__row
				.get-buyer__column.get-buyer__column--left Услуги брокера, заинтересованного 
					br
					strong «закрыть сделку»
				.get-buyer__column.get-buyer__column--right Наши услуги со сферой интересов 
					strong в дальнейшей прибыли от объекта и безопасности сделки

			.get-buyer__row
				.get-buyer__column.get-buyer__column--left Приобретение бизнеса 
					strong по завышенной цене
				.get-buyer__column.get-buyer__column--right Приобретение бизнеса по 
					strong разумной рыночной стоимости

			.get-buyer__row
				.get-buyer__column.get-buyer__column--left 
					strong Высокий риск 
					| приобретения 
					br
					| неэффективного бизнеса
				.get-buyer__column.get-buyer__column--right 
					strong Нивелирование всех рисков

			.get-buyer__row
				.get-buyer__column.get-buyer__column--left 
					strong Отсутствие дополнительной помощи
					br
					| после покупки бизнеса
				.get-buyer__column.get-buyer__column--right 
					strong Сопровождение и поддержку 
					| после покупки бизнеса на протяжении нескольких месяцев
			