.request {
	padding: 22px 0;

	background: linear-gradient(top, #069cbf 0%, #1bc5c4 100%);
	@media screen and (max-width: 1024px) {
		padding: 22px 30px;

		text-align: center;
	}
	&__wrapper {
		display: flex;

		align-items: center;
		@extend .wrapper;
		justify-content: space-between;
		@media screen and (max-width: 1024px) {
			display: block;
		}
	}
	&__title {
		text-transform: uppercase;

		color: #fff;

		font-size: em(20px);
		line-height: 1;
		@media screen and (max-width: 480px) {
			font-size: em(17px);
		}
	}
	&__btn {
		@extend .btn-transparent;
		@media screen and (max-width: 1024px) {
			margin: 20px auto 0;
		}
	}
}
