mixin inside-header()
	.inside-header
		.inside-header__wrapper
			.inside-header__content
				.inside-header__title Модный супер-отель бизнес-класса в самом центре Москвы
				.inside-header__text Краткий комментарий на две строчки, краткий комментарий на две строчки
				.inside-header__characteristics.inside-header__characteristics--cost 
					span 200 000 000
					| стоимость
				.inside-header__characteristics.inside-header__characteristics--recoupment 
					span 1 год
					| срок окупаемости
				.inside-header__characteristics.inside-header__characteristics--share 100% доля к продаже
				a(href="#" title="").inside-header__back назад к результатам