mixin why()
	section.why
		.why__wrapper 
			.why__title почему клиенты выбирают нас

			.why-item.why-item--left
				em С одной стороны, 
				| мы — инвестиционная компания. Эта часть нашего бизнеса заключается в формировании инвестиционных идей и последующих вложений.

			.why-item.why-item--right
				em С другой стороны, 
				| мы занимаемся управленческим консалтингом. Наработанные методики и годы реализованных проектов позволяют нам быть уверенными в эффективности второй составляющей нашего бизнеса.